.form-body {
  display: flex;
  flex-direction: column;
  margin-top: -5%;
}

.form-content label,
.was-validated .form-check-input:invalid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label,
.valid-feedback,
.invalid-feedback {
  color: #777676;
  font-size: 17px;
}

.form-content input[type="text"],
.form-content input[type="number"],
.form-content select {
  width: 50%;
  height: 3em;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #f9f9f8;
  font-size: 17px;
  font-weight: 300;
  color: #8d8d8d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.form-group {
  background-color: #fff;
}

.btn-primary {
  background-color: #6c757d;
  outline: none;
  border: 0px;
  box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #808080;
  outline: none !important;
  border: none !important;
  box-shadow: none;
}

.invalid-feedback {
  color: #ff606e;
}

.valid-feedback {
  color: #2acc80;
}

.navbar-nav {
}

.back {
  height: 45px;
  float: right;
}
