.header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0 10px 0;
}

.form-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container2 {
  float: left;
  border: 3px solid #fff;
  padding: 40px;
  display: inline-block;
  width: 50%;
  min-width: 540px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  border-radius: 10px;
  text-align: left;
}

.form-control h3 {
  color: #111;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

::-webkit-input-placeholder {
  color: red;
  font-size: 18px;
}

.form-control {
  height: 3em;
  font-size: 17px;
}

.form-check {
  font-size: 17px;
}

.alert {
  font-size: 17px;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
}
.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -130px;
  top: -50px;
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -130px;
  bottom: -160px;
}
form {
  height: 550px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 58%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  color: black;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: grey;
}

.btn {
  width: 100%;
  background-color: #393e46;
  color: #fff;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
