{% extends "layout.html" %} {% block body %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='job.css') }}" />
</head>
<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content" style="width: 60%">
        <div class="form-items" style="margin-top: 5rem">
          <form
            action="{{ url_for('admin_post_job') }}"
            method="POST"
            class="was-validated"
          >
            <h3 class="header">Add Job Details</h3>

            <div class="col-md-4">
              {% with messages = get_flashed_messages() %} {% if messages %} {%
              for message in messages %}

              <div class="alert alert-success alert-dismissible">
                <a
                  href="#"
                  class="close"
                  data-dismiss="alert"
                  aria-label="close"
                  >&times;</a
                >
                <strong>{{ message }}</strong>
              </div>
              {% endfor %} {% endif %} {% endwith %}
            </div>

            <div class="col-md-12">
              <input
                type="text"
                class="form-content"
                name="job_Id"
                placeholder="Enter Job-ID"
                minlength="6"
                maxlength="6"
                required
              />
              <div class="valid-feedback">Job-ID field is valid!</div>
              <div class="invalid-feedback">Job-ID field cannot be blank!</div>
            </div>

            <div class="col-md-12">
              <input
                type="text"
                class="form-content"
                name="Company"
                minlength="3"
                maxlength="25"
                placeholder="Enter Company Name"
                required
              />
              <div class="valid-feedback">Company Name field is valid!</div>
              <div class="invalid-feedback">
                Company Name field cannot be blank!
              </div>
            </div>

            <div class="form-group">
              <select
                width="100"
                style="
                  width: 97%;
                  height: 40px;
                  display: flex;
                  margin-left: auto;
                  margin-right: auto;
                  font-weight: 400;
                  border-radius: 5px;
                  font-size: 16px;
                  -moz-appearance: none;
                  -webkit-appearance: none;
                  background-color: #9e9e9e;
                  color: #fff;
                "
                name="Position"
                required
              >
                <option value="sde">Software Developer</option>
                <option value="software-engineer">Software Engineer</option>
                <option value="data-analyst">Data Analyst</option>
                <option value="data-engineer">Data Engineer</option>
                <option value="data-scientist">Data Scientist</option>
              </select>
            </div>

            <div class="form-group">
              <label class="container"
                >Bachelor of Technology, Electrical Engineering
                <input type="checkbox" name="Eligibility" value="BTech-EE" />
                <span class="checkmark"></span>
              </label>

              <label class="container"
                >Bachelor of Technology, Electronics and Communication
                Engineering
                <input type="checkbox" name="Eligibility" value="BTech-ECE" />
                <span class="checkmark"></span>
              </label>

              <label class="container"
                >Bachelor of Technology, Computer Science Engineering
                <input type="checkbox" name="Eligibility" value="BTech-CS" />
                <span class="checkmark"></span>
              </label>

              <label class="container"
                >Master in Computer Applications
                <input type="checkbox" name="Eligibility" value="MCA" />
                <span class="checkmark"></span>
              </label>

              <label class="container"
                >Master of Technology, Computer Science Engineering
                <input type="checkbox" name="Eligibility" value="MTech-CS" />
                <span class="checkmark"></span>
              </label>
            </div>

            <div class="col-md-12">
              <input
                class="form-content"
                type="number"
                name="CGPA"
                placeholder="Enter your CGPA"
                step="0.01"
                required
              />
              <div class="valid-feedback">CGPA field is valid!</div>
              <div class="invalid-feedback">CGPA field cannot be blank!</div>
            </div>

            <div class="col-md-12">
              <input
                type="text"
                class="form-content"
                name="Location"
                placeholder="Location"
                minlength="2"
                maxlength="30"
                required
              />
              <div class="valid-feedback">Location field is valid!</div>
              <div class="invalid-feedback">
                Location field cannot be blank!
              </div>
            </div>

            <div class="form-group">
              <select
                width="100"
                style="
                  width: 97%;
                  height: 40px;
                  display: flex;
                  margin-left: auto;
                  margin-right: auto;
                  font-weight: 400;
                  border-radius: 5px;
                  font-size: 16px;
                  -moz-appearance: none;
                  -webkit-appearance: none;
                  background-color: #9e9e9e;
                  color: #fff;
                "
                name="type"
                required
              >
                <option value="Fulltime">Full Time</option>
                <option value="internship">Internship</option>
              </select>
            </div>

            <button
              class="btn btn-primary btn"
              style="
                text-align: center;
                margin-left: 1%;
                width: 100px;
                height: 40px;
              "
            >
              Proceed
            </button>
            <a link href="/adminhome"
              ><button type="button" class="back btn btn-dark">
                Back to Home
              </button></a
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
